.scroll-to-top-button {
  position: fixed;
  bottom: 120px;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
  .scroll-to-top-button__icon {
    font-size: 2rem;
    color: #fff;
  }
}
