.contact {
  padding: 6rem 4rem;
  .contact__map__wrapper {
    height: 400px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    height: max-content;
    h1 {
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
      margin-bottom: 2%;
    }
    .contact__map {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      border-radius: 10px;
    }
  }
  .contact__header__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      #fff 100%
    );
    z-index: -1;
  }
  .contact__header {
    padding: 5%;
    text-align: center;
    h1 {
      font-size: 4rem;
      font-weight: 600;
    }
    p {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  .contact__card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .contact__card {
      border: 1px solid rgba(122, 122, 122, 0.37);
      border-radius: 10px;
      background-color: #fff;
      height: 250px;
      width: 280px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding: 2%;
      .contact__card__icon {
        padding: 10px;
        font-size: 3rem;
        border: 1px solid #afafaf;
        border-radius: 10px;
      }
      .contact__card__content {
        h2 {
          font-size: 1.2rem;
          font-weight: 600;
        }
        p {
          font-size: 0.9rem;
          margin-bottom: 2rem;
        }
        span {
          font-size: 1rem;
          text-decoration: underline;
          font-weight: 600;
          font-size: 0.9rem;
        }
      }
    }
  }
  .contact__content__cards__wrapper {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    .contact__content__card {
      padding: 2rem;
      border-radius: 20px;
      -webkit-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.151);
      border: 1px solid #c5c5c5;
      h4 {
        font-size: 2rem;
        font-weight: 600;
        color: red;
      }
      p {
        font-size: 1.1rem;
        color: #000;
      }
    }
  }
  .contact__enquiry__form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding: 1%;
    border-radius: 10px;
    height: 600px;
    margin-top: 5%;

    img {
      height: 100%;
      width: 40%;
      object-fit: cover;
      border-radius: 10px;
    }

    .contact__enquiry__form__wrapper {
      width: 50%;
      height: 100%;
      h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        width: 80%;
        margin-bottom: 5%;
      }
      .contact__enquiry__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        input,
        textarea {
          width: 100%;
          padding: 10px;
          font-size: 1rem;
          outline: none;
          margin-bottom: 10px;
          border-radius: 5px;
          border: none;
          resize: none;
          background-color: #e4e4e4;
          user-select: none;
          &:focus {
            border-bottom: 3px solid red;
          }
        }
        textarea {
          height: 200px;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        button {
          width: 100%;
          font-size: 1rem;
          padding: 10px;
          background-color: transparent;
          border: 1px solid #cacaca;
          border-radius: 5px;
          cursor: pointer;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background-color: #d50100;
            border-radius: 5px;
            z-index: -1;
            transition: 0.2s;
          }
          &:hover::before {
            height: 100%;
            transition: 0.2s;
          }
          &:hover {
            color: #fff;
            transition: 0.2s;
          }
        }
      }
    }
  }
 
}

@media screen and (max-width: 1250px) {
  .contact__card__wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .contact__header {
    h1 {
      font-size: 2rem !important;
    }
  }
  .contact__card__wrapper {
    display: flex !important;
    flex-direction: column !important;
    .contact__card {
      margin-top: 5%;
    }
  }
  .contact__map__wrapper {
    width: 100% !important;
  }
  .contact__footer {
    font-size: 0.9rem !important;
    width: 100% !important;
    text-align: justify !important;
  }
}
